<div *ngFor="let i of items">
  <p>{{i | json}}</p>
</div>
<p>
  Строка JSON содержит либо массив значений, либо объект (ассоциативный массив пар имя/значение).
  Массив заключается в квадратные скобки ([ и ]) и содержит разделенный запятой список значений.
  Объект заключается в фигурные скобки ({{'{'}} и {{'}'}}) и содержит разделенный запятой список пар имя/значение.
</p>
<p>
  Клиент с сервером общаються Json файлами. И клиент и сервер парсит Json в объекты класса.
  Имя объекта в Json файле эквивалентно имени поля в класе, а значение записываеться в это поле.
</p>
