<head>

</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light fixed-top navbar-light" style="background-color: #e3f2fd;">
    <a class="navbar-brand" href="#">EStore</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Сategories
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <button class="dropdown-item" *ngFor="let c of categories" (click)="choise(c.id)">{{c.name}}</button>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" (click)="choise(0)">All Categories</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About OFF</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="/about">About ON</a>
        </li>
      </ul>
      <button class="btn btn-outline-success my-2 my-sm-0" (click)="openCart(true)"><img src="https://img.icons8.com/ultraviolet/24/000000/shopping-cart.png"></button>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
</body>
